
<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    
    <script type="text/javascript" src="js/bootstrap/bootstrap-tab.js"></script>
    <script type="text/javascript" src="lib/loaders/loaders.css.js"></script>
    
    <link rel="stylesheet" href="js/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" href="lib/loaders/loaders.min.css" />
	
	<script type="text/javascript" src="js/util/util.js"></script>
	<script type="text/javascript" src="js/home/home.js"></script>
	
	<!-- ace -->
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-language_tools.js"></script>
	
	<!-- chartjs -->
	<script type="text/javascript" src="js/chartjs/util.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
	
	<style type="text/css">
		.ace-related-code-highlight {
			border-bottom: 1px solid red;
		     position:absolute;
		}
		.fa-disabled {
		  opacity: 0.2;
		  cursor: not-allowed;
		}
		
		.ball-pulse > div {
		  background-color: orange;
		}
		
		.tab-content {
		    border-left: 1px solid #ddd;
		    border-right: 1px solid #ddd;
		    border-bottom: 1px solid #ddd;
		    padding: 10px;
		    background-color: #f6f7f9;
		}
		
		.nav-tabs {
		    margin-bottom: 0;
		}
	</style>
	<link rel="stylesheet" href="css/common.css" />
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/home">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/flow_list">Flow</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/publish_list">Service</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/instance_list">Instance</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/log_list">Log</a>
	      </li>
		</ul>
	  </div>
	</nav>
	<div class="container">
		<div id="detail_div" style="width:800px;height:400px;display:none">
			<canvas id="myChart"></canvas>
		</div>
		<div class="bd-callout bd-callout-info">
			<b>Processing</b>
		</div>
		<div>
			<div class="card" id="processingInstanceListNoresult" style="display:none">
			  <div class="card-body">
			    No Results Found.
			  </div>
			</div>
			<table class="table table-hover table-striped" id="processingInstanceListTable">
			  <thead>
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">ID</th>
			      <th scope="col">NAME</th>
			      <th scope="col">SEQ</th>
			      <th scope="col">START</th>
			      <th scope="col">COMPLETE</th>
			      <th scope="col">TIME</th>
			      <th scope="col">STATUS</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody id="processingInstanceListBody">
	
			  </tbody>
			</table>
		</div>
		<div class="bd-callout bd-callout-info">
			<b>Error</b>
		</div>
		<div>
			<div class="card" id="errorInstanceListNoresult" style="display:none">
			  <div class="card-body">
			    No Results Found.
			  </div>
			</div>
			<table class="table table-hover table-striped" id="errorInstanceListTable">
			  <thead>
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">ID</th>
			      <th scope="col">NAME</th>
			      <th scope="col">SEQ</th>
			      <th scope="col">START</th>
			      <th scope="col">COMPLETE</th>
			      <th scope="col">TIME</th>
			      <th scope="col">STATUS</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody id="errorInstanceListBody">
	
			  </tbody>
			</table>
		</div>
		<div class="bd-callout bd-callout-info">
			<b>Complete(today)</b>
		</div>
		<div>
			<div class="card" id="completeInstanceListNoresult" style="display:none">
			  <div class="card-body">
			    No Results Found.
			  </div>
			</div>
			<table class="table table-hover table-striped" id="completeInstanceListTable">
			  <thead>
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">ID</th>
			      <th scope="col">NAME</th>
			      <th scope="col">SEQ</th>
			      <th scope="col">START</th>
			      <th scope="col">COMPLETE</th>
			      <th scope="col">TIME</th>
			      <th scope="col">STATUS</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody id="completeInstanceListBody">
	
			  </tbody>
			</table>
		</div>
	</div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');

// <block:setup:1>
const DATA_COUNT = 7;
const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};

//const labels = Utils.months({count: 7});
const labels = ["flow1","flow2","flow3","flow4","flow5","flow6","flow7"]
const data = {
  labels: labels,
  datasets: [
    {
      label: 'error',
      data: Utils.numbers(NUMBER_CFG),
      borderColor: Utils.CHART_COLORS.red,
      backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
    },
    {
      label: 'processing',
      data: Utils.numbers(NUMBER_CFG),
      borderColor: Utils.CHART_COLORS.blue,
      backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
    },
    {
        label: 'complete',
        data: Utils.numbers(NUMBER_CFG),
        borderColor: Utils.CHART_COLORS.blue,
        backgroundColor: Utils.transparentize(Utils.CHART_COLORS.green, 0.5),
      }
  ]
};
// </block:setup>

// <block:config:0>
const config = {
  type: 'bar',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'flow status statistics'
      }
    }
  },
};
// </block:config>

const myChart = new Chart(ctx, config);
</script>
  </body>
</html>
